## Last commit: 2026-04-21 09:05:41 UTC by admin
version 22.2R3.15;
system {
    host-name asbr01dieci;
    root-authentication {
        encrypted-password "$6$Dvgtyb1d$TE5sHf.zl.k.ieVOp.Su2h59Y7rdfQCazqXxSfQbSHRtQADGu/dL4jAGescqSfYVyp0mDmw39BlDrwOTXCxLP0"; ## SECRET-DATA
    }
    login {
        class read-only-class {
            permissions [ view view-configuration ];
        }
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$YqmIwzxv$xDnXUacY4xFeM6s4reU6pzqFkeJJhyZtYBLwBmJgRj0EQ8QkZdRlWio.pF6OLqwlCAsAAu10OiamZJeEfOMeU."; ## SECRET-DATA
            }
        }
        user itnog10 {
            uid 2002;
            class read-only;
            authentication {
                encrypted-password "$6$fTRKvRVO$FkXD4qM90Fm1KyEZFe0yLBDRad1uwRBrn0TVGvEyLHF6TzJi5U3BJsvfPJ/5ZKWaLt2HnR2Vk7GEjM8pCv5bH1"; ## SECRET-DATA
            }
        }
    }
    use-imported-time-zones;
    management-instance;
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}                                       
interfaces {
    xe-0/1/1 {
        unit 0 {
            family inet {
                address 63.216.92.35/27;
            }
        }
    }
    xe-0/1/2 {
        unit 0 {
            family inet {
                address 63.216.92.254/31;
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 63.216.92.196/27;
            }
            family inet6 {
                dhcpv6-client {
                    client-type stateful;
                    client-ia-type ia-na;
                    client-identifier duid-type duid-ll;
                    vendor-id Juniper:mx204:GP900;
                }
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 63.216.92.0/32;
            }
            family inet6 {
                address 2400:8800:1ff::/128;
            }
        }
    }
}
policy-options {
    policy-statement accept-all {
        then accept;
    }
}                                       
routing-instances {
    mgmt_junos {
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 63.216.92.193;
            }
        }
        description Management;
    }
}
routing-options {
    router-id 63.216.92.254;
    autonomous-system 57402;
}
protocols {
    router-advertisement {
        interface fxp0.0 {
            managed-configuration;
        }
    }
    bgp {
        group internal-peers {
            type internal;
            description "iBGP F1A";
            local-address 63.216.92.254;
            import accept-all;
            export accept-all;
            neighbor 63.216.92.255;
        }
        local-as 57402;
    }
    ospf {
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
            interface xe-0/1/1.0;
        }
    }
}