
#-------------------------
#Sysname
#-------------------------
#
sysname PE1
commit

#-------------------------
#rimozione cose che non servono
#-------------------------
#
undo dcn
undo pnp enable

#-------------------------
#Auto Save
#-------------------------
#
set save-configuration delay 1 cpu-limit 90
commit

#-------------------------
#pool indirizzi IP PPPoE
#-------------------------
#
ip pool pool2 bas local
 export host-route
 gateway 63.216.93.65 255.255.255.224
 section 0 63.216.93.66 63.216.93.75
 dns-server 1.1.1.1
 commit

#-------------------------
#Authentication Local
#-------------------------
#
aaa
 local-user fritzbox1 password cipher Fritzbox+1
 local-user fritzbox1 service-type ppp
 local-user fritzbox1 level 0
 local-user tiesse1 password cipher Tiesse+1Tiesse+1
 local-user tiesse1 service-type ppp
 local-user tiesse1 level 0
 local-user keenetic1 password cipher Keenetic+1
 local-user keenetic1 service-type ppp
 local-user keenetic1 level 0
 local-user utente1 password cipher ITnog+2026
 local-user utente1 service-type ppp
 local-user utente1 level 0
 #
 authentication-scheme auth2
  authentication-mode local
 #
 accounting-scheme acct2
  accounting-mode none
 #
 domain isp2
  authentication-scheme auth2
  accounting-scheme acct2
  ip-pool pool2
commit

#-------------------------
#Virtual Template
#-------------------------
#
interface Virtual-Template2
 ppp authentication-mode pap chap mschapv1 mschapv2
commit

#-------------------------
#Loopback 0 interface
#-------------------------
#
interface LoopBack0
 ip address 63.216.92.5 255.255.255.255
commit

#-------------------------
#IP Prefix
#-------------------------
#
ip ip-prefix prefix-pppoe index 10 permit 63.216.93.64 27 greater-equal 32 less-equal 32
commit

#-------------------------
#Route policy
#-------------------------
#
route-policy export-pppoe permit node 10
 if-match ip-prefix prefix-pppoe
commit

#-------------------------
#OSPF
#-------------------------
#
ospf 1 router-id 63.216.92.5
 import-route unr route-policy export-pppoe
 area 0.0.0.0
  network 63.216.92.5 0.0.0.0
  network 63.216.92.64 0.0.0.31
commit

#-------------------------
#Interface Vlan 3 CORE
#-------------------------
#
interface 25GE0/2/0.3
 vlan-type dot1q 3
 description CORE
 ip address 63.216.92.67 255.255.255.224
commit

#-------------------------
#configurazione vlan802
#con PPPoE server
#-------------------------
#
interface 25GE0/2/0.802
 commit
 user-vlan 802
 pppoe-server bind Virtual-Template 2
 bas
 #
  access-type layer2-subscriber default-domain authentication isp2
 #
#
commit

