
/interface vlan
add interface=sfp-sfpplus1 name=vlan3-core1 vlan-id=3
add interface=sfp-sfpplus1 name=vlan801-cpe vlan-id=801

/ip address
add address=63.216.92.201/27 interface=ether13-mng network=63.216.92.192
add address=63.216.92.66/27 interface=vlan3-core1 network=63.216.92.64
add address=63.216.92.4 interface=lo network=63.216.92.4

/ip pool
add name=pool-pppoe ranges=63.216.93.2-63.216.93.30

/ppp profile
add change-tcp-mss=yes dns-server=8.8.8.8,1.1.1.1 local-address=63.216.93.1 \
    name=profile-pppoe remote-address=pool-pppoe

/ppp secret
add name=tiesse1 password=ITNOG2026! profile=profile-pppoe
add name=keenetic1 password=keenetic1 profile=profile-pppoe
add name=keenetic2 password=keenetic2 profile=profile-pppoe
add name=AVM1 password=AVM1 profile=profile-pppoe
add name=fritzbox1 password=ITnog+2026 profile=profile-pppoe service=pppoe

/interface pppoe-server server
add default-profile=profile-pppoe disabled=no interface=vlan801-cpe

/routing id
add id=63.216.92.4 name=id1

/routing ospf instance
add disabled=no name=ospf4 redistribute=connected router-id=id1

/routing ospf area
add disabled=no instance=ospf4 name=area0

/routing ospf interface-template
add area=area0 comment=loopback disabled=no networks=63.216.92.4 passive
add area=area0 disabled=no networks=63.216.92.64/27

/ip firewall filter
add action=accept chain=input comment="INPUT: accept winbox from mng" dst-port=\
    10022,8291 protocol=tcp src-address=63.216.92.192/27
add action=drop chain=input comment="INPUT: drop winbox from other" dst-port=\
    8291 protocol=tcp

/ip service
set ftp disabled=yes
set telnet disabled=yes
set www disabled=yes
set api disabled=yes
set api-ssl disabled=yes
set ssh port=10022

/system identity
set name=PE1
