! Command: show running-config
! device: core01dieci (DCS-7150S-24, EOS-4.23.15M-2GB)
!
! boot system flash:/.boot-image.swi
!
transceiver qsfp default-mode 4x10G
!
hostname core01dieci
!
spanning-tree mode none
!
service unsupported-transceiver wiprolabs f5047577
!
aaa authorization exec default local
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$OHhl081sC5voF5kj$cJrwBz4fnwqORJiyoWSR97Vng8zx0h6QVOT9ngomJys1dRuMatquuu7wlTCnfWZvL5pGvSlWwWuNGtrsbxMBB1
username itnog10 role network-operator secret sha512 $6$hFd4qhuhRVlKyZGd$Rj2oD25pnMhKI/k2X7bjDQRHGF5AMAywpRyrfDLnx5uzc3Uh.m.pTioK58g8IdWnXcDuJzQyJ13BMLwnhiEEH0
!
role network-readonly
   5 deny mode exec command configure|bash|python-shell|\|
   10 permit command show .*
   20 permit command ping .*
   30 permit command traceroute .*
   40 deny command .*
!
environment fan-speed override 40
!
clock timezone Europe/Rome
!
vlan 2-3,300,801-802,1001-1002
!
vrf instance mgmt
!
interface Ethernet1
   description MGMT
!
interface Ethernet2
   description MGMT
!
interface Ethernet3
   description SERVER
   switchport access vlan 2
!
interface Ethernet4
   switchport access vlan 2
!
interface Ethernet5
   description Uplink
   switchport mode trunk
!
interface Ethernet6
   switchport access vlan 2
!
interface Ethernet7
   switchport access vlan 2
!
interface Ethernet8
   switchport access vlan 2
!
interface Ethernet9
   description BGP-CORE
   switchport access vlan 2
!
interface Ethernet10
   description BGP-CORE
   switchport access vlan 2
!
interface Ethernet11
   description Transit
   switchport access vlan 1002
!
interface Ethernet12
   description Transit
   switchport access vlan 1001
!
interface Ethernet13
   description BNG
   switchport mode trunk
!
interface Ethernet14
   description BNG
   switchport mode trunk
!
interface Ethernet15
   switchport access vlan 2
!
interface Ethernet16
   switchport access vlan 2
!
interface Ethernet17
   switchport access vlan 2
!
interface Ethernet18
   switchport access vlan 2
!
interface Ethernet19
   switchport access vlan 2
!
interface Ethernet20
   switchport access vlan 2
!
interface Ethernet21
   switchport access vlan 2
!
interface Ethernet22
   description SRX
   no switchport
   ip address 63.216.92.230/31
!
interface Ethernet23
   description SW-DESK
   switchport mode trunk
!
interface Ethernet24
   description SRX
!
interface Loopback0
   ip address 63.216.92.2/32
!
interface Management1
   shutdown
!
interface Vlan1
   vrf mgmt
   ip address 63.216.92.198/27
!
interface Vlan2
   ip address 63.216.92.33/27
!
interface Vlan3
   ip address 63.216.92.65/27
!
ip routing
ip routing vrf mgmt
!
ip route 63.216.92.192/27 63.216.92.231
ip route vrf mgmt 0.0.0.0/0 63.216.92.193
!
router ospf 1
   redistribute static
   network 63.216.92.0/22 area 0.0.0.0
   max-lsa 12000
!
end