!CfgFileCrc:4a5b30dc
!Software Version V800R024C00SPC500
!Last configuration was updated at 2026-04-20 15:24:52 UTC by root
!Last configuration was saved at 2026-04-20 15:27:56 UTC by root
!MKHash 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
!kms_feature --
!HmacDigest %^%#cR]IC!L0MBx4<U;8;PT$,5+X$#$uY0;.-HOAJ%vN%^%# c582fb934bd0a282738f5cc69db758f69fb7874713b4502a9f1c1ecc614480c9
#
sysname asbr02dieci
#
set neid 40e38d
#
undo FTP server-source all-interface
undo FTP ipv6 server-source all-interface
#
ssl policy router_default
 ssl minimum version tls1.2
 cipher-suite exclude key-exchange rsa
 cipher-suite exclude cipher mode cbc
 cipher-suite exclude hmac sha1
 diffie-hellman modulus 3072
 binding cipher-suite-customization default_cipher_suite
 ecdh group nist
 signature algorithm-list rsa-pss-rsae-sha256 rsa-pss-rsae-sha384 rsa-pss-rsae-sha512
#
ssl cipher-suite-list default_cipher_suite
 set cipher-suite tls12_ck_ecdhe_rsa_with_aes_128_gcm_sha256
 set cipher-suite tls12_ck_ecdhe_rsa_with_aes_256_gcm_sha384
 set cipher-suite tls13_aes_128_gcm_sha256
 set cipher-suite tls13_aes_256_gcm_sha384
 set cipher-suite tls13_aes_128_ccm_sha256
#
service-template template-default0
#
service-template template-default1
#
service-template template-default2
#
service-template template-default3
#
service-template template-default4
#
ntp-service server source-interface all disable
ntp-service ipv6 server source-interface all disable
#
undo icmp name timestamp-reply send
#
router id 63.216.92.1
#
undo telnet server enable
undo telnet ipv6 server enable
undo telnet server-source all-interface
undo telnet ipv6 server-source all-interface
#
undo radius enable
#
diffserv domain default
#
diffserv domain 5p3d
#
soc
#
ip vpn-instance __LOCAL_OAM_VPN__
 ipv4-family
 ipv6-family
#
undo radius local-ip all
#
mpls
 mpls te
 mpls rsvp-te
 mpls rsvp-te hello
 mpls rsvp-te hello support-peer-gr
 mpls te cspf
 mpls oam based-itu
#
mpls l2vpn
#
bridge-domain 10
 vxlan vni 10010
#
mpls ldp
 remote-peer pwe3
 #
 ipv4-family
#
dhcp server request-packet all-interface disable
#
dot1x-template 1
#
dhcp relay unnumbered database authentication-mode force-check
#
dhcpv6 disable
#
security password
 #
 rule admin
  forbidden word changeme_123
#
aaa
 user-password password-force-change disable
 local-user root password irreversible-cipher $1c$k$or2zh/7-$`a*^9>qh<U!y|!JqJ_o'V0pxC-;eKCvM^+%23>(3$
 local-user root service-type ssh mml
 local-user root state block fail-times 10 interval 1
 local-user root user-group manage-ug
 #
 authentication-scheme default0
 #
 authentication-scheme default1
 #
 authentication-scheme default
  authentication-mode local radius
 #
 authorization-scheme default
 #
 accounting-scheme default0
 #
 accounting-scheme default1
 #
 domain default0
 #
 domain default1
 #
 domain default_admin
#
license
 active port-basic slot 1 card 1 port 24-27
#
warranty
#
interface Virtual-Template0
 ppp authentication-mode auto
#
interface GigabitEthernet0/0/0
 speed auto
 duplex auto
 undo shutdown
 ip binding vpn-instance __LOCAL_OAM_VPN__
 ip address 63.216.92.197 255.255.255.224
#
interface GigabitEthernet0/1/0
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/1
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/2
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/3
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/4
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/5
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/6
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/7
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/8
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/9
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/10
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/11
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/12
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/13
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/14
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/15
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/16
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/17
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/18
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/19
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/20
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/21
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/22
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/23
 undo shutdown
 undo dcn
#
interface GigabitEthernet0/1/24
 undo shutdown
 ip address 63.216.92.233 255.255.255.254
 undo dcn
#
interface GigabitEthernet0/1/25
 undo shutdown
 ip address 63.216.92.36 255.255.255.224
 undo dcn
#
interface GigabitEthernet0/1/26
 undo shutdown
 ip address 63.216.92.255 255.255.255.254
 undo dcn
#
interface GigabitEthernet0/1/27
 undo shutdown
 undo dcn
#
interface 25GE0/1/28
 undo shutdown
 undo dcn
#
interface 25GE0/1/29
 undo shutdown
 undo dcn
#
interface 25GE0/1/30
 undo shutdown
 undo dcn
#
interface 25GE0/1/31
 undo shutdown
 undo dcn
#
interface 25GE0/1/32
 undo shutdown
 undo dcn
#
interface 25GE0/1/33
 undo shutdown
 undo dcn
#
interface 25GE0/1/34
 undo shutdown
 undo dcn
#
interface 25GE0/1/35
 undo shutdown
 undo dcn
#
interface 25GE0/1/36
 undo shutdown
 undo dcn
#
interface 25GE0/1/37
 undo shutdown
 undo dcn
#
interface 25GE0/1/38
 undo shutdown
 undo dcn
#
interface 25GE0/1/39
 undo shutdown
 undo dcn
#
interface 25GE0/1/40
 undo shutdown
 undo dcn
#
interface 25GE0/1/41
 undo shutdown
 undo dcn
#
interface 25GE0/1/42
 undo shutdown
 undo dcn
#
interface 25GE0/1/43
 undo shutdown
 undo dcn
#
interface 25GE0/1/44
 undo shutdown
 undo dcn
#
interface 25GE0/1/45
 undo shutdown
 undo dcn
#
interface 25GE0/1/46
 undo shutdown
 undo dcn
#
interface 25GE0/1/47
 undo shutdown
 undo dcn
#
interface 100GE0/1/48
 undo shutdown
 undo dcn
#
interface 100GE0/1/49
 undo shutdown
 undo dcn
#
interface 100GE0/1/50
 undo shutdown
 undo dcn
#
interface 100GE0/1/51
 undo shutdown
 undo dcn
#
interface 100GE0/1/52
 undo shutdown
 undo dcn
#
interface 100GE0/1/53
 undo shutdown
 undo dcn
#
interface 100GE0/1/54
 undo shutdown
 undo dcn
#
interface 100GE0/1/55
 undo shutdown
 undo dcn
#
interface LoopBack0
 ipv6 enable
 ip address 63.216.92.1 255.255.255.255
 ipv6 address 2400:8800:1FF::1/128
#
interface NULL0
#
bgp 57402
 router-id 63.216.92.1
 private-4-byte-as enable
 peer 63.216.92.6 as-number 57402
 peer 63.216.92.6 connect-interface LoopBack0
 peer 63.216.92.232 as-number 31638
 peer 63.216.92.232 description TRANSIT-AS31638
 peer 63.216.92.254 as-number 57402
 peer 63.216.92.254 description SRX
 peer 63.216.92.254 connect-interface GigabitEthernet0/1/26
 #
 ipv4-family unicast
  undo synchronization
  network 63.216.92.0 255.255.252.0
  import-route unr route-policy TRANSIT-AS31638-OUT
  peer 63.216.92.6 enable
  peer 63.216.92.232 enable
  peer 63.216.92.232 route-policy TRANSIT-AS31638-IN import
  peer 63.216.92.232 route-policy TRANSIT-AS31638-OUT export
  peer 63.216.92.232 route-limit 1000000 90 alert-only
  peer 63.216.92.232 advertise-community
  peer 63.216.92.232 advertise-large-community
  peer 63.216.92.254 enable
#
ospf 1
 default-route-advertise always cost 10 type 1
 opaque-capability enable
 area 0.0.0.0
  network 63.216.92.0 0.0.3.255
#
undo dcn
#
ip ip-prefix BOGON-V4 index 10 deny 0.0.0.0 8 greater-equal 8 less-equal 32
ip ip-prefix BOGON-V4 index 20 deny 10.0.0.0 8 greater-equal 8 less-equal 32
ip ip-prefix BOGON-V4 index 30 deny 100.64.0.0 10 greater-equal 10 less-equal 32
ip ip-prefix BOGON-V4 index 40 deny 127.0.0.0 8 greater-equal 8 less-equal 32
ip ip-prefix BOGON-V4 index 50 deny 169.254.0.0 16 greater-equal 16 less-equal 32
ip ip-prefix BOGON-V4 index 60 deny 172.16.0.0 12 greater-equal 12 less-equal 32
ip ip-prefix BOGON-V4 index 70 deny 192.0.0.0 24 greater-equal 24 less-equal 32
ip ip-prefix BOGON-V4 index 80 deny 192.0.2.0 24 greater-equal 24 less-equal 32
ip ip-prefix BOGON-V4 index 90 deny 192.168.0.0 16 greater-equal 16 less-equal 32
ip ip-prefix BOGON-V4 index 100 deny 198.18.0.0 15 greater-equal 15 less-equal 32
ip ip-prefix BOGON-V4 index 110 deny 198.51.100.0 24 greater-equal 24 less-equal 32
ip ip-prefix BOGON-V4 index 120 deny 203.0.113.0 24 greater-equal 24 less-equal 32
ip ip-prefix BOGON-V4 index 130 deny 224.0.0.0 4 greater-equal 4 less-equal 32
ip ip-prefix BOGON-V4 index 140 deny 240.0.0.0 4 greater-equal 4 less-equal 32
ip ip-prefix BOGON-V4 index 150 permit 0.0.0.0 0 greater-equal 1 less-equal 32
ip ip-prefix DEFAULT-ONLY index 10 permit 0.0.0.0 0
ip ip-prefix ONLY_DEFAULT index 10 permit 0.0.0.0 0
ip ip-prefix OUR_v4 index 10 permit 63.216.92.0 22 greater-equal 22 less-equal 22
ip ip-prefix TOO-SPECIFIC-V4 index 10 permit 0.0.0.0 0 greater-equal 25 less-equal 32
ip large-community-filter basic IMPORT_FROM_INTERNET index 10 permit 57402:100:31638
#
ip ipv6-prefix OUR_v6 index 10 permit 2400:8800:1FF:: 48 greater-equal 48 less-equal 48
#
route-policy TRANSIT-AS31638-IN deny node 5
 if-match rpki origin-as-validation invalid
#
route-policy TRANSIT-AS31638-IN deny node 10
 if-match ip-prefix DEFAULT-ONLY
#
route-policy TRANSIT-AS31638-IN deny node 15
 if-match ip-prefix TOO-SPECIFIC-V4
#
route-policy TRANSIT-AS31638-IN deny node 20
 if-match ip-prefix BOGON-V4
#
route-policy TRANSIT-AS31638-IN permit node 100
 apply local-preference 100
 apply large-community 57402:100:31638 additive
#
route-policy TRANSIT-AS31638-OUT permit node 100
 if-match ip-prefix OUR_v4
#
ip route-static 63.216.92.0 255.255.252.0 NULL0 cost 200
ip route-static vpn-instance __LOCAL_OAM_VPN__ 0.0.0.0 0.0.0.0 63.216.92.193
#
snmp-agent local-engineid 800007DB03E86DE9A4805F
#
snmp-agent sys-info version v3
#
snmp-agent protocol source-status all-interface
undo snmp-agent protocol source-status ipv6 all-interface
#
undo snmp-agent proxy protocol source-status all-interface
undo snmp-agent proxy protocol source-status ipv6 all-interface
#
undo web-auth-server source-ip all
#
undo web-auth-server source-ipv6 all
#
stelnet server enable
snetconf server enable
ssh server rsa-key min-length 3072
ssh user root
ssh user root authentication-type password
ssh user root service-type all
ssh server-source -i GigabitEthernet0/0/0
ssh server-source all-interface
ssh ipv6 server-source all-interface
ssh authorization-type default aaa
#
ssh server cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr
ssh server hmac sha2_512 sha2_256
ssh server key-exchange dh_group_exchange_sha256 dh_group_exchange_sha1 dh_group14_sha1 ecdh_sha2_nistp256 ecdh_sha2_nistp384 ecdh_sha2_nistp521
#
ssh server publickey ecc rsa rsa_sha2_256 rsa_sha2_512
#
ssh server dh-exchange min-len 3072
#
ssh client publickey ecc rsa rsa_sha2_256 rsa_sha2_512
#
ssh client cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr
ssh client hmac sha2_512 sha2_256
ssh client key-exchange dh_group_exchange_sha256 dh_group_exchange_sha1 dh_group14_sha1 ecdh_sha2_nistp256 ecdh_sha2_nistp384 ecdh_sha2_nistp521
#
dhcp server database multi-sessions per-mac authentication-mode force-check
#
user-interface maximum-vty 15
#
user-interface con 0
 authentication-mode password
 set authentication password cipher $1c$o#+VVNtn"'$h,5_Q=]scE6BFjC]@[9$v'p"#EhBTI"MMGW]D2WE$
#
user-interface vty 0 14
 authentication-mode aaa
 protocol inbound ssh
#
netconf
 activate module huawei-ip
#
local-aaa-server
#
pki domain default
#
multicast shaping
#
multicastbandwidth
#
l2tp-group default-lac
 tunnel name HUAWEI
#
l2tp-group default-lns
 tunnel name HUAWEI
#
return
